body {
background-color: rgb(137, 234, 234);
font-family: 'Times New Roman', Times, serif; 
}
code {
    font-style: italic;
    font-size: 11px;
}
p {
    font-size: 20px;
    font-weight: bold;  
}
h1 {
text-align: center;
}